app/Resources/public/html/index.html
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, user-scalable=no">
    <meta name="imagetoolbar" content="no">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <meta name="google" value="notranslate">
    <title>Test</title>
    <link rel="stylesheet" href="../assets/css/common.css">
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div id="app" class="application"></div>
        </div>
    </div>
    <script id="settings-view" type="text/html">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="title">
                <h3>Application Form</h3>
                <button class="btn">Edit</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="account">
                <div class="row">
                  <div class="col-md-4">
                    <div class="account-left">
                      <div class="account-name">John Doe</div>
                      <div class="account-date">15 april 1983</div>
                      <div class="account-email">johndoe@gmail.com</div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="account-right">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="account-info">
                            <div class="account-site">www.example.com</div>
                            <div class="account-phone">+77 88338792</div>
                            <div class="account-skill">1256</div>
                            <div class="account-gender">male</div>
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="account-about">lorem lorem lorem</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </script>
    <script id="modal-settings-view" type="text/html">
        <div class="modal">
            <div class="modal-header"><span>Edit</span>
              <div class="btn-outer">
                <button class="btn btn-cancel">Cancel</button>
                <button class="btn-save btn">Save</button>
              </div>
            </div>
            <div class="modal-body">
              <div class="modal-form">
                <p>Application Form</p>
                <form class="settings">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input id="userName" type="text" class="form-control">
                        <label for="userName">User Name</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group birthday">
                        <input id="birthDate" type="date" class="form-control">
                        <label for="birthDate">Birthdate</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input id="email" type="email" class="form-control">
                        <label for="email">Email</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input id="site" type="text" class="form-control">
                        <label for="site">URL</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input id="phone" type="text" class="form-control">
                        <label for="phone">Phone number</label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <input id="skill" type="text" class="form-control">
                        <label for="skill">Skill number</label>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <label class="radio-inline">
                        <input id="male" type="radio" name="gender" value="male"><span>male</span>
                      </label>
                    </div>
                    <div class="col-md-2">
                      <label class="radio-inline">
                        <input id="female" type="radio" name="gender" value="female"><span>female</span>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input id="password" type="password" class="form-control">
                        <label for="password">Password</label>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input id="passwordRepeat" type="password" class="form-control">
                        <label for="passwordRepeat">Repeat Password</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea id="description" type="text" class="form-control"></textarea>
                        <label for="description">Enter a brief description of yourself and interests.</label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </script>
    <div id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/underscore.js"></script>
    <script src="../assets/js/backbone.js"></script>
    <script src="../assets/js/backbone.marionette.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>

frontassets/assets/template/index.jade
include partitial/mixins

doctype html
html
    include partitial/head
    body
        .wrapper
            .container
                div#app.application


        script#settings-view(type="text/html")
            .row
                .col-md-10.col-md-offset-1
                    .title
                        h3 Application Form
                        button.btn Edit

            .row
                .col-md-10.col-md-offset-1
                    .account
                        .row
                            .col-md-4
                                .account-left
                                    .account-name John Doe
                                    .account-date 15 april 1983
                                    .account-email johndoe@gmail.com
                            .col-md-8
                                .account-right
                                    .row
                                        .col-md-4
                                            .account-info
                                                .account-site www.example.com
                                                .account-phone +77 88338792
                                                .account-skill 1256
                                                .account-gender male
                                        .col-md-8
                                            .account-about lorem lorem lorem

        script#modal-settings-view(type='text/html')
            .modal
                .modal-header
                    span Edit
                    .btn-outer
                        button.btn.btn-cancel Cancel
                        button.btn-save.btn Save

                .modal-body
                    .modal-form
                        p Application Form

                        form.settings
                            .row
                                .col-md-6
                                    .form-group
                                        input#userName.form-control(type='text')
                                        label(for='userName') User Name
                                .col-md-6
                                    .form-group.birthday
                                        input#birthDate.form-control(type='date')
                                        label(for='birthDate') Birthdate
                            .row
                                .col-md-6
                                    .form-group
                                        input#email.form-control(type='email')
                                        label(for='email') Email
                                .col-md-6
                                    .form-group
                                        input#site.form-control(type='text')
                                        label(for='site') URL
                            .row
                                .col-md-6
                                    .form-group
                                        input#phone.form-control(type='text')
                                        label(for='phone') Phone number
                                .col-md-2
                                    .form-group
                                        input#skill.form-control(type='text')
                                        label(for='skill') Skill number
                                .col-md-2
                                    label.radio-inline
                                        input#male(type='radio', name='gender', value='male')
                                        span male
                                .col-md-2
                                    label.radio-inline
                                        input#female(type='radio', name='gender', value='female')
                                        span female

                            .row
                                .col-md-4
                                    .form-group
                                        input#password.form-control(type='password')
                                        label(for='password') Password
                                .col-md-4
                                    .form-group
                                        input#passwordRepeat.form-control(type='password')
                                        label(for='passwordRepeat') Repeat Password
                            .row
                                .col-md-12
                                    .form-group
                                        textarea#description.form-control(type='text')
                                        label(for='description') Enter a brief description of yourself and interests.

        #modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')


        +scripts()
